body {
    display: flex;
}

.eventosMainGrid {
    width: 100%;
    /* border: 2cqb solid white; */
    /* border: 2px solid white; */
    padding: 0px;
    padding: 15px;
    margin: 20px;
    margin-top: 55px;
}

.eventosPreviousPage {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: flex-start;
}

#eventosPreviousPageButton {
    background-color: rgba(0,0,0,0);
    border-radius: 1000px;
    color: rgba(18, 18, 18, 0.87);
    transition: .5s;
    width: 4vw;
    justify-content: center;
    align-items: center;
    border: none;
}

#eventosPreviousPageButton:hover {
    background-color: rgba(18, 18, 18, 0.1);
    border: none;
}

.eventosTopSection {
    display: flex;
    gap: 5px;
}

.eventosSearchBar {
    flex-grow: 1;
    color: white;
}

.eventosTituloEventos {
    display: flex;
    align-items: flex-start;
}

.eventosEvent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: none;
    padding: 0;
    padding-top: 15px;
}

.eventosEventBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    background: rgba(25,25,25, 1);
    border-radius: 10px;
    padding-left: 3vw;
    height: 60px;
}

.eventosEditButton, .eventosDeleteButton {
    height: 60px;
}


@media (max-width:600px) {
    .EventosmainGrid {
        margin: 15px;
        margin-top: 75px;
    }
}



