.homeAdminmainGrid {
    width: 100%;
    /* border: 2cqb solid white; */
    /* border: 2px solid white; */
    align-items: center;
    padding: 15px;
    margin: 20px;
    margin-top: 45px;
}

.homeAdminevent {
    margin-top: 10px;
}

.homeAdminbuttons {
    display: flex;
    justify-content: space-evenly; 
}

.homeAdminbotaoRed {
    flex-grow: .27;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeAdminbotaoRed:hover, #homeAdmineventButtonDesktop:hover, #homeAdmineventButtonMobile:hover {
    filter: brightness(.7);
    outline: 0px;
    border: 0px;
    cursor: pointer;
}

.homeAdminbotaoRed:focus, #homeAdmineventButtonDesktop:focus, #homeAdmineventButtonMobile:focus {
    outline: 0px;
}

.homeAdminevent {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 3vw;
    background: rgba(0,0,0,.1);
    border-radius: 15px;
    height: 30px;
}

#homeAdmineventInfo {
    margin-right: auto;
}

#homeAdmineventButtonDesktop, #homeAdmineventButtonMobile {
    border: 0px;
    /* width: 20vw; */
    display: flex;
    align-items: center;
    height: 55px;
}

#homeAdmineventButtonMobile {
    display: none;
    height: 55px;
}

#homeAdminass {
    grid-area: ass;
}
#homeAdmineve {
    grid-area: eve;
}
#homeAdminrel {
    grid-area: rel;
}

@media(max-width: 500px){
    .homeAdminbuttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "   ass   eve   "
            "   rel   rel   "
        ;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
    }

    #homeAdmineventButtonMobile {
        display: flex;
    }

    #homeAdmineventButtonDesktop {
        display: none;
    }
}



